[submodule "submodules/FittingScripts"]
	path = submodules/FittingScripts
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/FittingScripts.git
[submodule "submodules\\HDF5Storage"]
	path = submodules\\HDF5Storage
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/HDF5Storage.git
