[submodule "+Utils/+HDF5Storage"]
	path = +Utils/+HDF5Storage
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/HDF5Storage.git
[submodule "+Utils/+FittingScripts"]
	path = +Utils/+FittingScripts
	url = https://gitlab.rschluessler.com/BrillouinMicroscopy/FittingScripts.git
